<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

  <ion-item>
    <ion-label position="floating" color="black">  Ingresar Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="usuario" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="black"> Nueva Contraseña</ion-label>
    <ion-input type="password"[(ngModel)]="contra" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" color="black"> Confirmar Contraseña</ion-label>
    <ion-input type="password"[(ngModel)]="restablecer" required></ion-input>
  </ion-item>
  <br>
  <ion-button expand="full" (click)="Restablecer()">Restablecer</ion-button>

</ion-card-content>
</ion-card>
</ion-content>
